.content .outline-title {
  text-transform: uppercase;
}

.overflow-overlay {
  overflow: overlay;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  height: 30px;
  line-height: 1;
  border-radius: 4px;
  background-color: var(--vp-c-bg-soft);
  border: 1px dashed var(--vp-button-alt-hover-bg);
  user-select: none;
  font-weight: 500;
  font-size: 14px;
}

.btn:hover {
  background-color: var(--vp-button-alt-hover-bg);
}

.btn:active {
  background-color: rgba(128, 128, 128, 0.3);
}

.btn + .btn {
  margin-left: 12px;
}
